In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [22]:
data = pd.read_csv('latest.csv')
data

,_id,Pathogen,ID,Case_status,Pathogen_status,Location_information,Age,Sex_at_birth,Sex_at_birth_other,Gender,...,Travel_history_start,Travel_history_location,Genomics_Metadata,Accession_Number,Source,Source_II,Source_III,Source_IV,Date_entry,Date_last_modified
0,63339f546231dbc49320096e,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63339f546231dbc49320096f,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63339f546231dbc493200970,NaN,NaN,confirmed,NaN,"Non-US Resident, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63339f546231dbc493200972,NaN,NaN,confirmed,NaN,"Alabama, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63339f546231dbc493200973,NaN,NaN,confirmed,NaN,"Alabama, United States",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81761,63e2e899deaa06b86747d1b5,NaN,NaN,confirmed,NaN,Spain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81762,63e2e899deaa06b86747d1b6,NaN,NaN,confirmed,NaN,Spain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81763,63e2e899deaa06b86747d1b7,NaN,NaN,confirmed,NaN,Spain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81764,63e2e899deaa06b86747d1b8,NaN,NaN,confirmed,NaN,Spain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81765,63e2e899deaa06b86747d1b9,NaN,NaN,confirmed,NaN,Spain,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
data.size

5233024

In [24]:
data.shape

(81766, 64)

In [25]:
data.isnull().sum()

_id                       0
Pathogen              81766
ID                    81766
Case_status               0
Pathogen_status       81766
                      ...
Source_II             81766
Source_III            81766
Source_IV             81766
Date_entry            81766
Date_last_modified    81766
Length: 64, dtype: int64

In [26]:
data.columns

Index(['_id', 'Pathogen', 'ID', 'Case_status', 'Pathogen_status',
       'Location_information', 'Age', 'Sex_at_birth', 'Sex_at_birth_other',
       'Gender', 'Gender_other', 'Race', 'Race_other', 'Ethnicity',
       'Ethnicity_other', 'Nationality', 'Nationality_other', 'Occupation',
       'Healthcare_worker', 'Previous_infection', 'Co_infection',
       'Pre_existing_condition', 'Pregnancy_Status', 'Vaccination',
       'Vaccine_name', 'Vaccination_date', 'Vaccine_side_effects', 'Symptoms',
       'Date_onset', 'Date_confirmation', 'Confirmation_method',
       'Date_of_first_consultation', 'Hospitalized',
       'Reason_for_hospitalization', 'Date_hospitalization',
       'Date_discharge_hospital', 'Intensive_care', 'Date_admission_ICU',
       'Date_discharge_ICU', 'Home_monitoring', 'Isolated', 'Date_isolation',
       'Outcome', 'Date_death', 'Date_recovered', 'Contact_with_case',
       'Contact_ID', 'Contact_setting', 'Contact_setting_other',
       'Contact_animal', 'Contact_comment', 'Transmission', 'Travel_history',
       'Travel_history_entry', 'Travel_history_start',
       'Travel_history_location', 'Genomics_Metadata', 'Accession_Number',
       'Source', 'Source_II', 'Source_III', 'Source_IV', 'Date_entry',
       'Date_last_modified'],
      dtype='object')

In [27]:
data.duplicated().sum()

0

In [29]:
# Checking the missing values in the selected columns to assess the situation
data[['Age', 'Sex_at_birth', 'Location_information', 'Case_status']].isnull().sum()

Age                     81766
Sex_at_birth            81766
Location_information        0
Case_status                 0
dtype: int64

In [30]:
(data['Age'].isnull().sum()/data.shape[0])*100

100.0

In [31]:
(data['Sex_at_birth'].isnull().sum()/data.shape[0])*100

100.0

In [32]:
# # Step 1: Impute missing values
# data['Age'].fillna(data['Age'].median(), inplace=True)
# data['Sex_at_birth'].fillna(data['Sex_at_birth'].mode()[0], inplace=True)

# # Step 2: Encode categorical variables
# from sklearn.preprocessing import LabelEncoder
# label_encoder = LabelEncoder()
# data['Sex_at_birth'] = label_encoder.fit_transform(data['Sex_at_birth'].astype(str))
# data['Location_information'] = label_encoder.fit_transform(data['Location_information'].astype(str))

# # Step 3: Define features (X) and target (y)
# X = data[['Age', 'Sex_at_birth', 'Location_information']]
# y = label_encoder.fit_transform(data['Case_status'].astype(str))

# # Step 4: Split the data into training and testing sets
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# # Step 5: Initialize and train the Decision Tree Classifier
# from sklearn.tree import DecisionTreeClassifier
# clf = DecisionTreeClassifier(random_state=42)
# clf.fit(X_train, y_train)

# # Step 6: Make predictions on the test set
# y_pred = clf.predict(X_test)

# # Step 7: Calculate accuracy
# from sklearn.metrics import accuracy_score
# accuracy = accuracy_score(y_test, y_pred)

# # Output the accuracy
# print(f"Decision Tree Model Accuracy: {accuracy * 100:.2f}%")

In [34]:
# Step 1: Drop the 'Age' and 'Sex_at_birth' columns
data_clean = data[['Location_information', 'Case_status']].dropna()

# Step 2: Encode the 'Location_information' column
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data_clean['Location_information'] = label_encoder.fit_transform(data_clean['Location_information'].astype(str))

# Step 3: Define features (X) and target (y)
X = data_clean[['Location_information']]
y = label_encoder.fit_transform(data_clean['Case_status'].astype(str))

# Step 4: Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 5: Initialize and train the Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train)

# Step 6: Make predictions on the test set
y_pred = clf.predict(X_test)

# Step 7: Calculate accuracy
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

# Output the accuracy
print(f"Decision Tree Model Accuracy: {accuracy * 100:.2f}%")

Decision Tree Model Accuracy: 100.00%